# Team 14 Group Contract

## Contract

### Goals
**1. What are our team goals for this project?**

**2. What do we want to accomplish?**

**3. What skills do we want to develop or refine?**

**4. Expectations**

**5. What do we expect of one another regarding attendance at meetings, participation, frequency of communication, quality of work, etc.?**

### Policies & Procedures
**What rules can we agree on to help us meet our goals and expectations?**

### Consequences:
**How will we address non-performance regarding these goals, expectations, policies and procedures?**

## Data

In [6]:
data <- read.csv("Data/HR-Employee-Attrition.csv")
head(data)

  Age Attrition BusinessTravel    DailyRate Department
1 41  Yes       Travel_Rarely     1102      Sales
2 49  No        Travel_Frequently  279      Research & Development
3 37  Yes       Travel_Rarely     1373      Research & Development
4 33  No        Travel_Frequently 1392      Research & Development
5 27  No        Travel_Rarely      591      Research & Development
6 32  No        Travel_Frequently 1005      Research & Development
  DistanceFromHome Education EducationField EmployeeCount EmployeeNumber ⋯
1 1                2         Life Sciences  1             1              ⋯
2 8                1         Life Sciences  1             2              ⋯
3 2                2         Other          1             4              ⋯
4 3                4         Life Sciences  1             5              ⋯
5 2                1         Medical        1             7              ⋯
6 2                2         Life Sciences  1             8              ⋯
  RelationshipSatisfaction StandardHours StockOptionLevel TotalWorkingYears
1 1                        80            0                 8
2 4                        80            1                10
3 2                        80            0                 7
4 3                        80            0                 8
5 4                        80            1                 6
6 3                        80            0                 8
  TrainingTimesLastYear WorkLifeBalance YearsAtCompany YearsInCurrentRole
1 0                     1                6             4
2 3                     3               10             7
3 3                     3                0             0
4 3                     3                8             7
5 3                     3                2             2
6 2                     2                7             7
  YearsSinceLastPromotion YearsWithCurrManager
1 0                       5
2 1                       7
3 0                       0
4 3                       0
5 2                       2
6 3                       6

Many data analyses start with a question or questions we are intrested in. Then we find or collect data to answer the question(s). Decide with your team members a topic of interest you want to work on and identify a dataset to work with. Include a brief description of the dataset (2 or 3 sentences) and a link or reference on how to access the dataset. Note that in the next individual assignment you will be asked to fully describe the dataset.

## Sign

Yoonha Jeon